@charset "utf-8";
body{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

	height:100%;
	
	font-size:13px;
	background: url(../img/background.png);
		margin:0px;
	padding:0px;
	
}
.boton{
	cursor:pointer; color:#1c464e; text-shadow:1px 1px 0 #aaeaf7; border:1px solid #289cb8; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#67bbcf; background: -webkit-gradient(linear, bottom, top, from(#67bbcf), to(#82def1)); background: -moz-linear-gradient(bottom,  #67bbcf,  #82def1); font-size:16px; padding:5px 20px; font-weight:bold; text-decoration:none;}
	
.boton:hover{
	 background:#51b1c7; background: -webkit-gradient(linear, bottom, top, from(#4297ab), to(#60cce3)); background: -moz-linear-gradient(bottom, #4297ab, #60cce3);
	}

.forma{
	min-height:33px; line-height:33px; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset;font-size:12px; width:268px;
		background:#FFF; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	}
.forma2{
	min-height:30px; line-height:15px; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset;font-size:12px; width:268px;
		background:#FFF; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	
	}		
	
	
#logo {
	position: relative;
	margin-left: 30px;
	margin-top: 25px;

}	
.separador{
	position:relative;
	height:15px;
	clear:both;
	
	}
#error{
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	text-align:center;
	margin-top:10px;
	display:none;
	font-weight:bold;
	color:#000;
	
}
.error{
	position:absolute;
	width:100%;
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	text-align:center;
	margin-top:5px;
	display:none;
	font-weight:bold;
	color:#000;
	
}
#exito{
	background-color: rgb(200, 238, 248);
	border:1px solid #03F;
	padding:7px 3px;
	text-align:center;
	margin-top:10px;
	display:none;
	font-weight:bold;
	color:#000;
}
.exito{
	position:absolute;
	background-color: rgb(200, 238, 248);
	border:1px solid #03F;
	padding:7px 3px;
	text-align:center;
	margin-top:5px;
	display:none;
	font-weight:bold;
	color:#000;
	width:100%;
}
#loading{
	left:10px;
	position:relative;
	top:3px;
	visibility:hidden;
}
#loadingbase{
	position:absolute;
	left:550px;

	top:20px;
	visibility:hidden;
	
	
}
.titulo {
	position: relative;
	width: 1000px;
	height: 50px;
	z-index: 2;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	left: 100px;
	margin-top: 15px;

}

.cuadrocentrado {
	position: relative;
	width: 1200px;
	z-index: 1;
	margin: auto;
	
}
.cuadrocentrado2 {
	position: relative;
	width: 1200px;

	z-index: 1;
	margin: auto;
	background-image:url(../img/transparente.png);
	top: 0px;
	margin-top:10px;
	border: 3px solid #d5d5d5;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 20px rgba(3,44,52,.22);
	-moz-box-shadow: 0 0 20px rgba(3,44,52,.22);
	-webkit-box-shadow: 0 0 20px rgba(3,44,52,.22);
	
	
}

.row:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.row { display: inline-block;}
.row { margin-bottom:20px;}

.item { width:294px; float:left; margin-right:16px;}
.item span.label { width:100%; line-height:normal; margin-bottom:10px;}
aside .item .last { border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}	
.last { margin:0 !important; float:left;}
label { color:#595959; font-size:16px; display:block;  padding-bottom:9px; width:100%}
label em { color:#e33636; font-weight:bold; margin-left:3px; }
label a { color:#0071b9;}

.row_full{
	position:relative;
	
	height:30px;
}
#partes{
	position:relative;
	width:100%;
	
}


.markup_title{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}


#encabezado{
	position: relative;
	width: 1200px;

	z-index: 1;
	margin: auto;
	background-image:url(../img/transparente.png);
	top: 0px;
	margin-top:10px;
	border: 3px solid #d5d5d5;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 20px rgba(3,44,52,.22);
	-moz-box-shadow: 0 0 20px rgba(3,44,52,.22);
	-webkit-box-shadow: 0 0 20px rgba(3,44,52,.22);
	height: 200px;
	


}
#titulo{
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	top: 40px;

line-height: 1em;
color: #4897f7;
font-weight:bold;
font-size: 69px;
text-shadow:0px 0px 0 rgb(152,152,152),1px 1px 0 rgb(137,137,137),2px 2px 0 rgb(123,123,123),3px 3px 0 rgb(108,108,108),4px 4px 0 rgb(94,94,94),5px 5px 0 rgb(79,79,79), 6px 6px 0 rgb(65,65,65),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}


#slogan{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
line-height: 1em;
color: #FFFFFF;
font-weight:bold;
font-size: 25px;
text-shadow:0px 0px 0 rgb(-39,-39,-39),1px 1px 0 rgb(-68,-68,-68),2px 2px 0 rgb(-97,-97,-97), 3px 3px 0 rgb(-126,-126,-126),4px 4px 3px rgba(0,0,0,0.55),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);


}
#busca{
	width: 200px;
	position: absolute;
	left: 500px;
	bottom: 10px;

}
#mapCanvas{
	position: relative;
	width: 600px;
	height: 600px;
	background-color: #000;
	right: 0px;
	margin-bottom: 80px;

}
#pidedatos{
	position: absolute;
	right: 0px;

	width: 600px;
}
#pidedatos  tr td{
	text-align: center;
	font-weight: bold;
}
#pidedatos  tr{
	text-align: center;
	font-weight: bold;
}


#pidedatos2{
	position: absolute;
	top: 175px;
	right: 0px;

	width: 600px;
}
#pidedatos2  tr td{
	text-align: center;
	font-weight: bold;
}
#pidedatos2  tr{
	text-align: center;
	font-weight: bold;
}
#pidedatos3{
	position: absolute;
	top: 300px;
	right: 0px;

	width: 600px;
}
#pidedatos3  tr td{
	text-align: center;
	font-weight: bold;
}
#pidedatos3  tr{
	text-align: center;
	font-weight: bold;
}
/* CSS Document */
.Three-Dee{
font-family: ABeeZee ;
line-height: 1em;
color: #000000;
font-weight:bold;
font-size: 41px;
text-shadow:0px 0px 0 rgb(-39,-39,-39),1px 1px 0 rgb(-68,-68,-68),2px 2px 0 rgb(-97,-97,-97), 3px 3px 0 rgb(-126,-126,-126),4px 4px 3px rgba(0,0,0,0.55),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);}
